body {
    
    font-family: 'Oxygen', sans-serif;
    align-items: center;
}

.alert-container {
    
    
}

.callout-container {
    height: 100vh;
    
    background: url('../images/whiskey-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
    
}

.quotes-container {
    
}

.features-container {
    
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
    
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

.alert-container {
    background: transparent;
    position: absolute;
    padding-top: 50px;
}

.btn-default {
    color: #f2dede;
    background-color: rgba(0,0,0,.075);
    border-color: #ccc;
}

.alert-warning {
    color: #8a6d3b;
    background-color: transparent;
    border-color: rgba(0,0,0,.0001);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}


.jumbotron .lead {
        color: #a7a7a7;
        font-size: larger;
    
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #dad5d5;
}

.media:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 75px;
    height: 5px;
    background-color: whitesmoke;
}

.block-black {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 35px;
    height: 5px;
    background-color: black;
}

.btn {
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 20px;
}

.btn-purple {
    color: #fff;
    background-color: #7b5cb8;
    border-color: #fcf8e3;
    width: 150px;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:active:focus{
    background-color: #8094e0;
    border-color: #4c4729;
    color: white;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.block-white {
    background-color: white;
    width: 35px;
}

.container-wrapper--purple {
    background-color: #7b5cb8;
    color: whitesmoke;
}

.feature {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: block;
    font-family: 'Glyphicons Halflings';
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
    
}

.btn {
    padding: 10px 16px;
    background-color: white;
    color: #7b5cb8;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.5;
    border-radius: 30px;
    min-width: 100px;
}

.btn.btn-sm.btn-default {
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 12px;
}

.lorem {
    color: white;
}


.table-bordered {
    border: 5px solid #337ab7bf;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #6d50688f;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.text-muted {
    color: #777;
    padding-left: 40px;
}

.monthly-favs {
    padding-left: 40px;
}
